<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../STYLES/fixed_1.css">
    <title>fixed_1</title>
</head>

<body>
    <header> 
        <h1>Fixed Header</h1>
    </header>

<main class="containerbox">
    <br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ullam perspiciatis voluptate beatae aspernatur cupiditate, mollitia nobis magnam, dolore minima nemo ad quod laboriosam explicabo doloribus, quia deserunt corporis inventore. Sunt dolore minus perspiciatis eaque quidem dolor voluptate mollitia veritatis perferendis, ipsam beatae ex ipsa pariatur soluta! Dolor, inventore nihil.</p>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, accusantium. Beatae vitae perferendis, blanditiis minus eaque necessitatibus voluptatem veritatis sit aliquam voluptatum, maiores assumenda repellat explicabo atque enim delectus qui magni nisi saepe! Consectetur quo explicabo ratione dolorum fugiat non mollitia, cumque eos aliquam et. Aut illum nemo sint iure, cumque quis, tempora, fugit nulla sequi ratione eum ipsum eius. </p><br>
<p> quis est id. Cum voluptatum aperiam quae, possimus ab molestias error magnam odit quasi excepturi eius autem veritatis sequi voluptatibus atque neque veniam quod assumenda exercitationem? Omnis iste ducimus nesciunt ipsa accusamus sint possimus incidunt in tempore ab! Vero similique repudiandae earum, qui nostrum omnis sequi. Repudiandae non perspiciatis sed. </p><br>
<p> Amet inventore quis ut corrupti, architecto possimus quibusdam exercitationem omnis explicabo consequuntur culpa corporis dicta delectus vitae nihil veniam minus nostrum repellendus libero veritatis aliquid natus! Eaque veritatis dolores velit, molestiae accusamus temporibus sapiente? Atque vel, eligendi optio distinctio ducimus dignissimos aliquam. Exercitationem, architecto natus? Veritatis ipsam dolores iure unde ex delectus officiis dignissimos facilis nihil.
</p><br>
<p>Nulla culpa corrupti perspiciatis eum, eligendi, ex minima aliquam voluptatem molestias eveniet dolorem tenetur omnis dolor! A sequi natus perferendis consectetur expedita aut eligendi error ipsam dolorem, sapiente praesentium minus. Nisi repellendus deleniti doloribus ut reprehenderit eaque magni sed aperiam nobis eveniet cumque quasi illum, enim hic, dolor eos voluptatum voluptate quibusdam veritatis quos adipisci, laborum delectus! Possimus debitis veritatis delectus cum aspernatur omnis reiciendis nemo! Modi fugit facilis aliquam aliquid id assumenda amet accusamus deserunt similique quos quaerat esse quidem nobis magni ipsa voluptatibus, ad ea consequatur?</p> <br>
<p> Nostrum modi laudantium consectetur obcaecati, cumque recusandae quisquam itaque tenetur aperiam natus architecto repudiandae necessitatibus est mollitia, iste assumenda eius totam dolorum tempora maxime at ducimus sapiente. Fugiat mollitia vel doloribus similique omnis eius unde, sint ab quo doloremque tenetur totam, numquam incidunt, culpa at odio facere nobis distinctio quidem quia consequatur ut ad nesciunt placeat. Ipsam dolor alias possimus corporis iusto laboriosam ut. Illum id ullam illo quam consequuntur a quaerat repellat provident necessitatibus consequatur numquam officia assumenda delectus, voluptatum officiis? Cupiditate aspernatur, nihil quidem illum unde velit maiores reiciendis dolores iure mollitia.</p><br>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure odio iste commodi, nihil, tempora, ex dignissimos eaque corrupti alias laudantium dolores debitis distinctio. Doloribus tempore distinctio sequi quidem magni consectetur, aliquid iusto repudiandae similique quas tenetur asperiores, molestias labore adipisci necessitatibus vero commodi et. Doloribus aperiam eligendi quis. </p> <br>
<p> Dolore, incidunt et cumque, asperiores nisi neque doloribus architecto, eius unde explicabo quam? Aperiam mollitia ex delectus eum earum quasi, maiores, magnam iusto ea eius est ullam nulla voluptates assumenda blanditiis nisi recusandae unde praesentium excepturi eveniet ipsa et? Cupiditate quae, labore repudiandae iure ipsa placeat quia? Corporis aut nemo nisi perferendis dolore numquam. Recusandae labore officia illum non ipsam voluptatum ipsa, accusamus harum doloribus omnis, neque ad aliquam facilis repellendus iste, repudiandae fugiat quae nemo! </p><br>
<p>Dolorem cumque natus repellat similique quo eius consectetur atque harum delectus at adipisci ipsa soluta sit nihil eos neque doloribus, placeat illo rem corrupti ratione quos. Suscipit veritatis officiis eius molestias modi illum, non in sapiente unde. Mollitia molestias esse eius vitae velit voluptatibus debitis voluptate ex tempore architecto laudantium, modi aliquam, nam delectus exercitationem culpa at nulla odit laboriosam accusantium necessitatibus est nemo enim ad. Similique non vel illum magni?
</p><br>
<p> Eum non iusto nemo ab tenetur assumenda maiores id illum ea sit praesentium laboriosam, repellendus cum quas expedita natus? Qui voluptatum provident repudiandae sit ipsam sint nemo velit, consequatur, consequuntur unde cumque rerum! Quae nobis autem dolore illum recusandae tempora facere facilis? Similique repudiandae officiis veritatis voluptatibus dicta, neque sed enim cum saepe iure illum aliquam, esse maxime mollitia illo natus, fuga maiores laborum vero officia itaque ad temporibus!</p><br>
<p>Id inventore consequuntur eum! Eveniet neque sit, magnam doloremque esse nam explicabo at odio natus fugiat repellendus ipsum! Nisi nostrum deleniti repellendus optio incidunt assumenda, dolorem numquam consequuntur expedita iusto dolorum mollitia id explicabo molestias debitis quae exercitationem saepe ipsum voluptate totam eaque distinctio. Voluptatem ratione odit eos sapiente est quas iste nobis dolores provident quis eius cumque ipsa culpa impedit dolorem in necessitatibus, fuga nihil beatae, sequi illum voluptates nam facilis? Veritatis dolore commodi eum soluta amet laboriosam consectetur?
</p> <br>

<div id="sleepwindow">
    <div id="window"> <h3>Modal window</h3><br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet eum incidunt voluptatibus quidem dolorum eos!</p>
        <br>

        <section class="inlinebutton">
<a href="https://legal.ubi.com/privacypolicy/ru-RU" Class="inlinebutton__button1">Принять</a>
<a href="" Class="inlinebutton__button1_button2">Отклонить</a>
        </section>

        <a href="#" class="close">X</a>
    </div>
</div>

<a href="#sleepwindow">OpenDefConsole</a>
    
</main>
</body>
</html>