.container1 {
    position: absolute;
    top: 41px;
    right: 942px;
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(236, 202, 9);
}

.container2 {
    position: absolute;
    top: 218px;
    right: 719px;
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 5px solid rgb(59, 34, 139); 
}

.container3 {
        position: absolute;
        top: 394px;
        right: 527px;
        display: inline-block;
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        border: 5px solid rgb(66, 236, 9);
}