*,body{
    size: 1000px;
    margin: 0px;
}
/* основной вид сайта(не забыть  сделать стикер-бэк) */
h1{
    box-sizing: border-box;
    background-color: coral;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 30px;
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 0px;
    display: inline-block;
    width: -webkit-fill-available;
}
.containerbox{
    box-sizing: border-box;
    border: 4px solid rgb(11, 106, 11) ;
    margin-right: 20%;
    margin-left: 20%;
}
/*Секция консоли/модальное окно */
#sleepwindow {
    background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 140%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
  }

#window {
    width: 296px;
    height: 92px;
    text-align: center;
    padding: 16px;
    padding-bottom: 105px;
    border: 3px solid #ffffff;
    border-radius: 1px;
    color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
  }
  #sleepwindow:target {
      display: block;
      position: fixed;
}
  .close {
    border: 1px solid #000000;
    color: black;
    background-color: rgba(102, 102, 102, 0.5);;
    padding: 0 12px;
    margin: -105px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor: pointer;
    position: relative;
    top: -181px;
    right: -132px;
    display: inline-block;
    box-sizing: border-box;
    width: 39px;
    height: 23px;
    border-radius: 60%;
  }
  .close:hover 
  {background: #e6e6ff;
}

.inlinebutton{
    display: inline-block;
    text-align: center;
}

.inlinebutton__button1{
    border: 2px solid black;
    background-color: #00cc0a;
    padding: 10px;
    text-decoration: none;
    transition: all .4s;
    color: white;
    padding: 15px 18px;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    margin-top: 13px;
    margin-left: -157px;
    margin-right: 44px;
    margin-bottom: 34px;
    
}

.inlinebutton__button1_button2{
    border: 2px solid black;
    background-color: red;
    text-decoration: none;
    transition: all .4s;
    color: white;
    padding: 15px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}


